.loader {
    position: relative;
    width: 100%;
    height: 100vh; /* Isso faz com que o loader ocupe toda a altura da tela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
  }
  
  .loader-image {
    position: absolute;
    top: 50%; /* Move a imagem para o centro vertical */
    left: 50%; /* Move a imagem para o centro horizontal */
    transform: translate(-50%, -50%); /* Centraliza a imagem com base em seu próprio tamanho */
  }
  