@font-face {
  font-family: 'Fira Code';
  src: url('./assets/font/FiraCode-Regular.woff') format('woff'),
       url('./assets/font/FiraCode-Bold.woff') format('woff'),
       url('./assets/font/FiraCode-Medium.woff') format('woff'),
       url('./assets/font/FiraCode-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Fira Code', sans-serif!important;
}

* {
  background-color: black;
}

/* Estiliza a barra de rolagem vertical */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 100px; /* Cor do polegar (a parte que você arrasta) */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Cor do polegar ao passar o mouse */
}
